# WebSocket Server Port
WS_PORT=8080

# Google Console API key for youtube details fetching
YOUTUBE_API_KEY=

# Comma separated list of allowed origins for CORS (space after comma will be fine)
ALLOWED_ORIGINS=http://localhost:3000, https://example.com
# or
ALLOWED_ORIGINS=*  # to allow all origins

# DB
DATABASE_URL=

# Some limits (can be tuned based on performance testing and requirements)
MAX_MESSAGE_BYTES=
ZOMBIE_SOCKET_CLEANUP_INTERVAL=
